# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Logs and temp files
*.log
*.tmp

# Model weights and checkpoints
*.pt
*.pth
runs/
models/best*.pt

# Dataset caches
*.cache
*.csv
.DS_Store
*.zip

# Jupyter notebooks checkpoints
.ipynb_checkpoints

# VSCode and IDE settings
.vscode/
.idea/

# System files
Thumbs.db
